$bgc: #F9E798;
$mbgc: linear-gradient(41deg, #F48B2A 43%, #53C0DD 43%, #53C0DD 57%, #F48B2A 43%);
$cbgc: #FBEDDC;
$br: 15px;
$bs: 3px 3px 10px rgba(0, 0, 0, 0.5);
$fs: 1.2em;
$fc: #000;
$bsh: 0 0 3px 7px rgba(91, 7, 156, 0.5);